.navigation {
  align-items: center;
  background-color: black;
  border-bottom: 2px solid rgba(234, 81, 185, 1.00);
  display: flex;
  font-family: arial;
  height: 36px;
  justify-content: flex-end;
}

.navigation a {
  color: rgba(251, 247, 228, 1.00);
  padding-right: 8px;
  text-decoration: none;
}