.navigation {
  align-items: center;
  background-color: lightblue;
  display: flex;
  font-family: arial;
  height: 36px;
  justify-content: flex-end;
}

.navigation a {
  color: black;
  padding-right: 8px;
  text-decoration: none;
}