.project-image-container {
  display: flex;
  justify-content: center;
  padding-top: 24px;
}

.project-link {
  height: 100%;
  width: 30%;
}

.project-header {
  display: flex;
  justify-content: center;
}