.project-image img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 100px;
  width: 150px;
}

.project {
  background: lightblue;
  border-radius: 8px;
  box-shadow: 2px 2px 2px lightgrey;
  height: 150px;
  margin-bottom: 12px;
  width: 150px;
}

.project a {
  color: black;
  font-family: arial;
  text-decoration: none;
}

.project-title {
  display: flex;
  justify-content: center;
  padding-top: 12px;
}

.project-category {

}
