.project-image img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 100%;
  width: 100%;
}

.project {
  background: lightblue;
  border-radius: 8px;
  box-shadow: 2px 2px 2px lightgrey;
  height: 100%;
  margin-bottom: 12px;
  width: 30%;
}

.project a {
  color: black;
  font-family: arial;
  text-decoration: none;
}

.project-title {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 6px;
  padding-top: 4px;
}
